# Ignore build files
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

.DS_Store

build/
*.xcframework.zip
Pods/

Packages
.build/
xcuserdata

DerivedData/
*.xcodeproj

#Framework files
build_xcframework.sh
archives/
