# Ignore build files
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
build/
*.xcframework.zip
Pods/

Packages
.build/
xcuserdata

DerivedData/
*.xcodeproj
